* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153277, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: ghostwhite;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background: #2ecc71;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 30px;
}

.pdf-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    overflow-y: scroll;
    max-height: 500px;
}

::selection {
    background-color: #3498db;
    color: #fff;
}

#pdf-content span.highlight {
    background-color: #3498db;
    color: #fff;
}
